.form-container{
    width:500px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid red;
    border-radius: 8px;
    padding-left: 49px;
}
.form-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414f;
    text-align: center;

}
.form-control{
 

}
.form-control label{
    display: block;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    margin-bottom: 10px;

}
.form-control input {
    width:415px;
    height: 55px;
    border: 1px solid peachpuff;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 7px;
}
.btn-submit{
    width: 415px ;
    height: 55px;
    background-color: rgb(255,153,0,0.3);
    border-radius: 5px;
    gap: 20px;
    padding-left: 7px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    border: none;
}
.btn-submit:hover{
    background-color: rgba(255,153,0,0.6);

}

.btn-laout{
    margin-left: 10px;
}